{% extends "__layout.twig" %}
{% import "__macros.twig" as macros %}

{% block content %}
<h1>{{ title_objects.title }}</h1>
<div>{{ title_objects.description }}</div> 
<div class="container">
        <ul class="nav nav-pills">
        {% for item in newnav %}
            {{ macros.nav(item.title, "/character/" ~ title_objects.id ~ "?show=" ~ item.url, temp == item.title) }}
        {% endfor %}
        </ul>
</div>

<div style="margin-top: 15px;">
        <ul class="list-group">
                <li class="list-group-item">
                    {% block dopcontent %}
                        Выберите наверху информацию, которую хотите посмотреть<br>
                    {% endblock %}
                </li>
        </ul>
</div>
{% endblock %}